extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Sydney Nichols

        p Full Stack JavaScript Developer


        .about-bio

          p I'm passionate about creating clean, efficient code and building engaging user experiences. I enjoy solving complex problems and continuously learning new technologies.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li Next.js
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 704-405-9476
          li sydneynichols14@gmail.com

      
        a.btn-link(href='https://www.linkedin.com/in/syd-nichols') LinkedIn
        a.btn-link(href='https://github.com/SydNichols') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back