extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Welcome to my portfolio! Here you'll find a collection of projects that demonstrate my skills as a JavaScript developer.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell 
          a(href=`/project/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt=`Thumbnail of ${project.project_name}`)
            h5= project.project_name

